.header-container {
  min-height: 50vh;
  background-image: linear-gradient(10deg, #252323bb, #16151598, transparent),
    url("../images/header.png");
  background-size: cover;
  background-position: 0% 26%;
}
.manu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.manu > a {
  margin: 0px 1rem;
  color: #ffffffd6;
  text-decoration: none;
  font-size: 1.4rem;
}
.user-icon {
  color: white;
  font-size: 2.2rem !important;
}
.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  font-size: 2.6rem;
  color: #ffffff9c;
}
.header-title > h5 {
  margin-top: 1.2rem;
}
