@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: rgba(37, 37, 239, 0.767) rgb(154, 153, 151);
}
::-webkit-scrollbar {
  width: 10px;
  background: rgb(10, 10, 21);
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}
